<div class="sidebar-container">
  <!-- Tab Navigation -->
  <div class="tab-navigation">
    <button 
      class="tab-button" 
      [class.active]="activeTab() === 'loops'"
      (click)="onTabChange('loops')"
    >
      <app-icon name="repeat" [size]="16"></app-icon>
      <span>Loops</span>
      <span class="tab-badge">{{ loops().length }}</span>
    </button>
    <button 
      class="tab-button" 
      [class.active]="activeTab() === 'library'"
      (click)="onTabChange('library')"
    >
      <app-icon name="library" [size]="16"></app-icon>
      <span>Library</span>
    </button>
  </div>

  <!-- Loops Tab Content -->
  @if (activeTab() === 'loops') {
    <loops-tab
      [loops]="loops()"
      [activeLoopId]="activeLoopId()"
      [pitchShift]="pitchShift()"
      (loopActivated)="loopActivated.emit($event)"
      (loopDeactivated)="loopDeactivated.emit()"
      (loopDeleted)="loopDeleted.emit($event)"
      (loopUpdated)="loopUpdated.emit($event)"
      (getCurrentTime)="getCurrentTime.emit($event)"
      (pitchChanged)="pitchChanged.emit($event)"
    />
  }

  <!-- Library Tab Content -->
  @if (activeTab() === 'library') {
    <library-tab />
  }
</div>
